<div class="content-section">
    <% var allPages = site.pages.data %>
    <% for(var i = 0; i < allPages.length; i++) {  %>
       <% if(allPages[i].path == "index/index.html") { %>
            <%- allPages[i].content %>
    <% break; }} %>
</div>